<div class="chat-list-header">
  <img
    class="chat-list-header__image"
    [src]="accountPicture || 'https://cdn-icons-png.flaticon.com/512/149/149071.png'"
    alt="profile"
  />
      <!-- <img src="logo.png.webp" alt="Simplex CNC Logo"  class="chat-list-header__image" /> -->

  <div class="chat-list-header__actions">
    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <circle cx="12" cy="12" r="1"></circle>
      <circle cx="12" cy="5" r="1"></circle>
      <circle cx="12" cy="19" r="1"></circle>
    </svg> -->
  </div>
</div>
