.chat-list-header {
  height: 60px;
  background: #ededed;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);

  &__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }

  &__actions {
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #54656f;

    svg {
      padding: 10px;
      border-radius: 50%;
      cursor: pointer;
      transition: background 0.2s;
      width: 28px;
      height: 28px;

      &:hover {
        background: rgba(0, 0, 0, 0.05);
      }
    }
  }
}
